nav{
  border-top: 3px;
  border-bottom: 3px;
  border-color: grey;
}

body {
  font-family: "DIN W05 Light","Arial Narrow",Arial,sans-serif;
  font-weight: 400;
}


.big-three {
  display: inline-block;
  vertical-align: top;
  height: 250px;
  width: 300px;
  margin: 30px 5px 30px 5px;
}
.subnav-link {
  margin-left: 2.75rem;
}

.navbar {
  display: inline-flex;
  height: 100px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.subnav-links-container {
  flex-grow: 1;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

ul {
  display: block;
  list-style-type: none;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  display: list-item;
  list-style-type: none;
  text-align: center;
}

.StickySubNav .subnav-link {
  color: #1c8200;
  display: flex;
}

.wm-cursor-pointer {
  cursor: pointer!important;
}
.wm-link, .wm-text-green {
  color: #1c8200!important;
}
.inter-font-weight-bold {
  font-family: "Inter-Bold",Arial,sans-serif;
  font-style: normal;
}

.text-uppercase {
  text-transform: uppercase!important;
  font-weight: 500;
}